*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.wrapp {
    margin-right: 30px;
    margin-left: 30px;
}
section{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.content .content_image {
    min-width: 150px;
    height: 100px;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    border: 1px solid #000;
    background: rgb(60, 226, 245);
}
.content_detail{
     margin-left: 20px;
}
.content_detail p {
    font-size: 1.6rem;
}
.content {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #333;
    flex: 1;
    margin-right: 20px;
}
.image {
    width: 200px;
    height: 160px;
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    border-radius: 15px;
    line-height: 124px;
    background: rgb(60, 226, 245);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    section {
        flex-direction: column-reverse;
    }
    .image {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .wrapp{
        margin: 0;
    }
    .content .content_image {
        min-width: 100px;
    }
}

