*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
main {
    height: 100vh;
    width: 100vw;
}
.wrapp {
   width: 90%;
   margin: 0 auto;
}
header {
    min-height: 4.5rem;
    line-height: 4.5rem;
}
/* ---- header top */
.header {
    display: flex;
    text-align: center;
    font-size: 1.4rem;
}
.header .header_logo {
    width: 300px;
    background: rgb(172, 171, 255);
}
.header_right {
    display: flex;
    flex: 1;
}
.header .header_template {
    flex: 1;
    background: orange;

}
.header .header_action {
    width: 300px;
    background: rgb(210, 224, 139);
}
/* ---- navbar */
.navbar {
    display: flex;
    min-height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.4rem;

}
.navbar_menu{
    width: calc(100vw - 300px);
    background: rgb(114, 230, 143);
}
.navbar_search{
    width: 300px;
    background: rgb(104, 158, 220);
}
/* ---banner */
.banner {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    min-height: 4.5rem;
    line-height: 4.5rem;
    background: rgb(167, 119, 119);
}
/* ----content */
.content {
    display: flex;
    font-size: 1.4rem;
    text-align: center;
    min-height: calc(100vh - 195px);
    line-height: calc(100vh - 195px);
}
.content .content_sidebar--left {
    width: 15%;
    background: gray;
}
.content .content_main {
    width: 70%;
    background: rgb(158, 211, 45);
}   
.content .content_sidebar--right {
    width: 15%;
    background: gray;
}
/* ---footer */
.footer {
    text-align: center;
    font-size: 1.4rem;
    min-height: 6rem;
    line-height: 6rem;
    background: rgb(221, 143, 143);
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
   .header .header_logo {
        width: 100%;
    }
    .content {
        flex-direction: column;
    }
    .content .content_sidebar--left,
    .content .content_main ,
    .content .content_sidebar--right {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .header_right{
        flex-direction: column;
    }
   .header .header_action {
        width: 100%;    
    }
    .navbar {
         flex-direction: column;
    }
    .navbar_menu {
        width: 100%;
    }
    .navbar_search {
        width: 100%;
    }
}


