*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.main_title {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
section {
    margin: 10px 0px;
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    text-align: justify;
}
.paragraph {
    font-size: 1.3rem;
}
section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}
.content .btn{
    margin-top: 20px;
    text-align: center;
}
.content .btn button {
    padding: 10px 50px;
    background: rgb(67, 147, 227);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    section {
        width: 45%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  section {
        width: 90%;
    }
}

